.button {
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  border: none;
  -webkit-margin-start: 16px;
}

.button-primary {
  background-color: #6f7174;
  color: white;
}

.button-secondary {
  background-color: #ebedf1;
  color: rgb(95, 94, 94);
}

.button-small {
  font-size: 0.875rem;
}

.button-regular {
  font-size: 1rem;
}

.button-large {
  font-size: 1.25rem;
}

.button-icon {
  margin-right: 8px;
}
